[2016-06-01 09:21] warpech opened #1 "Release a new version based on branch SimplerMiddlerwareStaticPage"
Release a new version based on the changes made while preparing for InfoShare 2016: https://github.com/StarcounterSamples/HelloWorld/commits/SimplerMiddlerwareStaticPage

[2016-06-01 09:32] warpech opened #2 "Change mouseup to click"
As proposed my @miyconst in https://github.com/StarcounterSamples/HelloWorld/commit/415afc67b9007b5334f6573453ab2becd2b5d937#commitcomment-17462712

[2016-06-01 09:38] warpech opened #3 "Change IEnumerable to QueryResultRow"
As proposed by @miyconst in https://github.com/StarcounterSamples/HelloWorld/commit/f9c38a26d31296477cdf4f3f1d52946fbf3fb3bd#commitcomment-17462738

[2016-06-01 09:40] warpech opened #4 "Don't commit a transaction in AddNewExpense"
As proposed by @miyconst in https://github.com/StarcounterSamples/HelloWorld/commit/f9c38a26d31296477cdf4f3f1d52946fbf3fb3bd#commitcomment-17462723

[2016-06-03 12:00] warpech commented on #1
Done in https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20160603

[2016-06-03 12:00] #1 closed, assigned to warpech

[2016-06-03 12:00] warpech commented on #2
Done in https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20160603

[2016-06-03 12:00] #2 closed, assigned to nobody

[2016-06-03 12:00] warpech commented on #3
Done in https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20160603

[2016-06-03 12:00] #3 closed, assigned to nobody

[2016-06-03 12:01] warpech commented on #4
Done in https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20160603

[2016-06-03 12:01] #4 closed, assigned to nobody

[2016-06-03 12:29] warpech opened #5 "Problems with Transaction.Rollback and an array of items"
I need help to figure out a problem in the last step of Hello World.

There is a `Cancel` button that rolls back a transaction. It fails two work in two cases. Case 1:
- Open `http://localhost:8080/helloworld`
- Press "Delete all expenses"
- Press "Save"
- Reload the page
- Press "Add new expense"
- Press "Cancel" - **Exception**

Case 2:
- Open `http://localhost:8080/helloworld`
- Press "Delete a

[2016-06-03 12:33] miyconst commented on #5
@warpech the thing is that you have to manually remove items from the JSON collection after you remove the data objects.

[2016-06-03 12:37] warpech commented on #5
The thing is that in case (1) I don't know how to do it...

In case (2) I think I do it, but it fails: https://github.com/StarcounterSamples/HelloWorld/blob/tutorial-20160603/PersonJson.json.cs#L26

[2016-06-03 12:45] miyconst commented on #5
Let me take a look, looks like no easy solution in here.

[2016-06-03 13:09] miyconst commented on #5
@warpech see my branch [`5-transaction-rollback`](https://github.com/StarcounterSamples/HelloWorld/tree/issue/5-transaction-rollback).

[2016-06-03 13:09] miyconst commented on #5
It's very tricky to keep the array up to date, because each item is a partial. I can do that, but it will be a very dirty code, so the easiest way is to reload entire array on transaction rollback.

[2016-06-06 12:50] warpech commented on #5
Thanks. I will merge this because it has huge advantage over my version - it works :)

Later we can discuss with the team if this pattern can be simplified.

[2016-06-06 13:47] warpech commented on #5
Thanks once again @miyconst. Your change is pushed to https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20160606 (as step 6)

[2016-06-06 13:47] #5 closed, assigned to nobody

[2016-06-06 13:50] miyconst commented on #5
Good. And thank you for taking care of the demo project.

[2016-06-07 08:33] warpech opened #6 "Add integration with Images"
As the last step (7), it should be possible to add an image of the expense instead of text description.

The image should be added using the Images app.

[2016-06-07 08:42] warpech commented on #6
Ideally, the HelloWorld map should use its own data model and _map_ it to Simplified data model, which is used by Images.

[2016-06-08 08:49] per-samuelsson commented on #6
@warpech

Beside defining the actual mappings (and run Images app, etc), what is needed in terms of infrastructure to complete this? We must introduce a launcher here, right?

[2016-06-08 09:10] warpech commented on #6
No, the only APIs involved are `UriMapping.OntologyMap`. Only two apps should be started (+ a mapper app).

[2016-06-08 09:49] per-samuelsson commented on #6
Ah, ok, so we _do_ support (default) blending / sharing screen without something like a launcher? And that's our goal here?

[2016-06-08 10:07] warpech commented on #6
Yes, definitely. Two apps is enough to blend. Launcher just gives a common UI features for switching between apps (like menu bar, search input, etc).

[2016-06-08 10:09] per-samuelsson opened #7 "Cant erase default "1" expense value"
1. Clone and run.
2. Create a new expense.
3. Name it something and _click_ the expense value textbox. Without _highlighting_ the "1", try to erase it (with backspace). It won't let you.

Suggestion: allow me to do so, and treat that as 0.

[2016-06-08 10:11] per-samuelsson commented on #6
And finally (for now): we want to use data mapping here (`DbMapping.*`)? Isn't that still supposed to be under the radar (and the alternative being shared data model)?

[2016-06-08 10:16] per-samuelsson commented on #7
(Oh, it's fine if you decide we don't fix this. Just close it if so)

[2016-06-09 19:50] per-samuelsson opened #8 "About integration with Images"
Can we take a step back, to a more high-level view?

Here's a discussion I'd like to have, and I'm using #6 (`HelloWorld` + `Images`) as the context, but it should apply to any kind of app inter operable scenario.

I'm the developer of `Hello World`. I've completed it up to step 6 in the tutorial. By chance, I find the `Images` app in an app store. I try it out, and find that it should be nice to

[2016-06-24 10:13] warpech commented on #6
That is a question to @dan31. @dan31 please advise here.

If we don't use `DbMapping.*`, then last step of HelloWorld needs to switch the data model to Simplified.

[2016-06-24 10:14] warpech commented on #6
This is related to: https://github.com/Starcounter/Starcounter/issues/3538

[2016-06-24 14:20] warpech commented on #8
### What's the incentive of mapping and blending with a 3rdparty app?

As the application developer, you need to focus on working on the parts that are essential to the application that your are building. If someone else has already part of the job, better than you can with your resources, why don't you just use his work and focus on the missing parts? If someone else did something that was not on

[2016-06-24 14:33] warpech commented on #7
I think this is a valid request. It seems to be Typed JSON issue. @chrhol can you take a look?

This is the view-model:

[code]

### Request

This is the outgoing patch from client:

[code]

### Actual response

This is the response from the server:

[code]

### Expected response

This would be the expected response from the server:

[code]

[2016-06-27 07:04] chrhol commented on #7
What happens is that parsing an empty string fails, it cannot be converted to an integer. And the current value is returned to client, since the request from the client to change the value was denied. Same as what happens if an inputhandler call `input.Cancel()`.

So empty strings should be treated as the default value for the specified type then?

[2016-06-27 10:33] warpech commented on #7
In JavaScript, empty string coerces to numeric `0`. Therefore, my gut feeling would be to treat an empty string as 0 (not the default value). But then again, JavaScript's type coercion is far from perfect, so I may be wrong.

On the other hand, treating empty string as the default value sounds like a nice sub-feature. Would that be not [surprising](https://en.wikipedia.org/wiki/Principle_of_least_

[2016-06-27 10:39] chrhol commented on #7
Yes, the default value for a template is taken from what is used in JSON-by-example, so in this case the default template value would be 1, `"Amount$":1`.

However, the default value for the type (i.e integer) would be 0 and in this case, if we should treat empty string as default value, this would make more sense I think.

[2016-06-27 11:05] warpech commented on #7
Seems right.

[2016-06-28 13:16] chrhol commented on #7
If we change this, it has the side-effect of actually leaving the input-field empty, and if you look in the viewmodel on the client, the value will be empty, but still treated as 0 on the server. Is this ok?

The reason is that we have the optimization on the server, that if the value is not changed on the server, there is no need to send a patch back with it.

[2016-06-28 15:05] warpech commented on #7
I think that it would be less surprising if the server responded with the
actual value. I think than when the client replaces a number with an empty
string (`""`), the server should replace the value back to the correct type
(`0`)
28 cze 2016 3:16 PM "Christian Holmstrand" notifications@github.com
napisał(a):

If we change this, it has the side-effect of actually leaving the
input-field empty, and

[2016-06-29 07:06] chrhol commented on #7
I agree, as for the end-result. However this is kind of a problematic area, and I'm not sure I can find a good implementation for it without it being a hack for this specific occurence. After the value is parsed, the server has no knowledge about it, other than if it was a correct value or not (i.e. could not be parsed to the correct type).

I will have to investigate it.

[2016-06-29 11:38] chrhol commented on #7
Alright, I think I found a solution for it that works. I have pushed the changes to develop and pnext. Please try it @per-samuelsson, and close it if works as intended

[2016-10-19 00:49] warpech commented on #6
After lots of trial and error, I have managed to integrate HelloWorld with Images in two short steps.

See commits described `step 8` and `step 9` in https://github.com/StarcounterSamples/HelloWorld/tree/tutorial-20161018

Not jawdropping, but I think it is acceptable for the start and concludes the HelloWorld tutorial well.

Screenshot:

![2016-10-19 02_39_36-launcher](https://cloud.githubusercon

[2016-10-20 14:03] ErlendLandro opened #9 "Broken layout editor for step 9"
In step 9 you are supposed to either use a curl command or the built-in layout editor. Because of the [broken layout editor](https://github.com/StarcounterPrefabs/Launcher/issues/202) with a non-editable input screen and disabled buttons, you cannot use it.

Is there a simple way of working around this as this seems to be the most accessible way of doing it?

[2016-10-24 10:24] ErlendLandro opened #10 "Add info windows to code"
Would like to add info windows or pop-ups to the code similar to what's on [Angular's guide](https://angularjs.org/#the-basics).

The issue is that every WordPress plugin and even the built in fusion shortcode by the theme messes with the code block so that all the remaining code on the line gets marked as a comment. Like this:
<img width="390" alt="screenshot" src="https://cloud.githubusercontent

[2016-10-24 12:07] warpech opened #11 "Consistent screenshots"
Every page in the Hello World tutorial should consistently finish with `<section class="see-yourself">` section, followed by a screenshot/GIF.

Currently, only some pages have "see yourself" sections and only some have screenshots.

@Mackiovello I don't know if you know, animated GIFs can be easily created using LICEcap.

[2016-10-24 12:08] warpech opened #12 "Comments to "Initialize the Database – Hello World Part 1""
Definitely some introduction before "Part 1" is needed. Looking forward to see it when it's done. This might be done as a separate article or as few paragraphs of introduction in the same paragraph.

I would rename this section from "Initialize the Database" to "Create a database class".

After this sentence, I propose to write something like "This tells Starcounter to make any instance of this cl

[2016-10-24 12:09] warpech opened #13 "Comments to "Create a Real Time UI – Hello World Part 2""
I propose to change it to: "To make use of Polymer's template engine"

Change to "previously empty JSON file"

I think that there is a simpler way. "Start the application with F5 and go to http://localhost:8080/HelloWorld in your web browser. You should see the name of your Person appear."

[2016-10-24 12:09] warpech opened #14 "Comments to "First Interactive UI – Hello World Part 3""
I think that the `PersonJson.json` snippet should include the curly braces.

I would change it to: The `::input` declaration sets up an event listener. It updates the JSON as you type in the HTML input element.

"trigger a handler"

I think that this should be exactly the same info as in "Step 2".

I like this! I think this should be a separate paragraph though, with a screenshot or animated GIF.

[2016-10-24 12:10] warpech opened #15 "Comments on "Calculated Name – Hello World Part 4""
I think that "Computed properties" would be a better name for this page.

I think that this introduction misses some of the key benefits. I propose to rewrite it:

"Starcounter allows you to use computed properties in your data model. Computing values on the fly is often as fast as accessing cached data and brings additional benefits. It allows you to save memory and always be sure that you get th

[2016-10-24 12:11] warpech opened #16 "Comments on "Expense Tracker – Hello World Part 5""
Maybe let's add a brief introduction in the beginning? Something along the lines of:

Regarding the list of steps:

I think this will be better:
1. Add a new Starcounter HTML template with dom-bind in the HelloWorld folder together with PersonJson.html. Name it `ExpenseJson.html`.
2. Add a new Starcounter Typed JSON with Code-behind file to the HelloWorld project together with PersonJson.json and

[2016-10-24 12:11] warpech opened #17 "Comments on "Simplifying the Data Model – Hello World Part 7""
I propose to rename this page to "Use a shared data model"

This is interesting to see your introduction to the page. But it misses the most important reason. I propose to rewrite the above paragraph to be:

"In the previous steps, we have used a data model declared using `[Database]` classes directly in `Program.cs`. This is nice for prototyping, but does not get us very far in terms of code and

[2016-10-24 12:12] warpech opened #18 "Comments on "Mapper App for Images – Hello World Part 8""
"an prefab app called Images"

"from GitHub"

To set up mapping for the "Images" app, you have to declare the code in context of that app using `StarcounterEnvironment.RunWithinApplication`. This method becomes available after adding `using Starcounter.Internal` to the beginning of the file.

[2016-10-24 12:13] warpech opened #19 "Comments on "UI Blending – Hello World Part 9""
You did your best in writing this page, but actually I admit that I chose only one of the possible ways to do the blending in my code.

Actually it is possible to use a completely different method of setting up the blended UI:
- When Launcher is running, click on the paint brush icon in the top right corner
- Double click the input field that says "css selector for partial to edit"
- Select `[part

[2016-10-24 12:16] ErlendLandro commented on #11
I understand why you would want that. The issue with having a see-yourself at the end of each page is that it gets repetitive. I think we can take for granted that they will check the application they create, though at certain stages we might want to draw their attention to something specific.

It's also the case that the UI changes between many parts are minimal and thus, the screenshot doesn't a

[2016-10-24 12:20] warpech commented on #6
Closing as done.

[2016-10-24 12:20] #6 closed, assigned to nobody

[2016-10-24 12:22] warpech commented on #8
@per-samuelsson I am closing this as answered. @Mackiovello has written the text that explains the steps that I made in code. It is available in WordPress admin panel as a draft.

I know that mapping HelloWorld to Images is far from ideal, but hey - we have something that works! The current code and text of HelloWorld should be the beginning of the discussion how we can improve that.

[2016-10-24 12:22] #8 closed, assigned to nobody

[2016-10-24 12:31] warpech commented on #9
@Mackiovello can you please provide the steps to reproduce the error? For me it works when I follow the steps given in https://github.com/StarcounterSamples/HelloWorld/issues/19#issue-184823790

[2016-10-24 12:34] per-samuelsson commented on #8
Sounds like the right thing to do.

🎉 👍 🎈

[2016-10-24 12:51] ErlendLandro commented on #19
I'll give it one more try. This approach is way better and should be the only method that's explained.

Installing git bash adds unnecessary complexity.

[2016-10-24 12:52] ErlendLandro commented on #12
All these remarks are now addressed.

[2016-10-24 12:52] #12 closed, assigned to Mackiovello

[2016-10-24 12:56] ErlendLandro commented on #13
Fixed!

[2016-10-24 12:56] #13 closed, assigned to Mackiovello

[2016-10-24 13:21] warpech commented on #19
I still think that Git Bash/cURL approach needs to be explained somewhere. We can move it to Guides.

[2016-10-24 13:22] ErlendLandro commented on #14
Done!

[2016-10-24 13:22] #14 closed, assigned to nobody

[2016-10-24 13:30] ErlendLandro commented on #15
Done

[2016-10-24 13:30] #15 closed, assigned to nobody

[2016-10-24 13:38] ErlendLandro commented on #16
Done, I'll also remove <code>using System</code> and <code>using System.Collections.Generic</code> from the program.

[2016-10-24 13:38] #16 closed, assigned to nobody

[2016-10-24 13:45] ErlendLandro commented on #17
Adopted the new intro with some modifications

[2016-10-24 13:45] #17 closed, assigned to nobody

[2016-10-24 13:50] ErlendLandro commented on #18
Fixed

[2016-10-24 13:50] #18 closed, assigned to nobody

[2016-10-24 15:03] ErlendLandro commented on #19
It's now updated to use the point-and-click method

[2016-10-24 15:03] #19 closed, assigned to nobody

[2016-10-24 15:04] #9 closed, assigned to nobody

[2016-10-24 22:03] warpech opened #20 "Add links to source code"
@Mackiovello what do you think about this:

At the end of each step in the tutorial text, add link to this repository with information about how to checkout the code for this specific step.

[2016-10-25 05:27] ErlendLandro commented on #20
I've done that, but a little differently. If you click on the file name above each code block it will lead you to the right file in the right commit in GitHub. We could also add the link to the whole repository at the end of each page if there's a need for that

[2016-10-25 08:04] warpech commented on #20
I've seen that, but I think that is non-obvious. A more explicit link at the bottom would help those who miss the snippet.

[2016-10-25 08:10] ErlendLandro commented on #20
Okay, I'll add it right away

[2016-10-25 08:21] ErlendLandro commented on #20
Link to source code added to all parts

[2016-10-25 08:21] #20 closed, assigned to nobody

[2016-10-25 09:39] ErlendLandro opened #21 "Issue with part 6 cancel button"
After adding the <code>this.Expense.Clear()</code> to the Cancel button handler all expenses in the view are deleted. Without it we hit a connection error. Example:
![error](https://cloud.githubusercontent.com/assets/19392292/19680893/a10ac69a-9aa7-11e6-889b-b7d50651143e.gif)

Is there a simple, easy to understand solution we can implement here?

[2016-10-25 10:28] ErlendLandro commented on #11
Screenshots or GIFs are added to all pages except for 6 and 7. 6 because of the buggy button, and 7 since there's no visual change there.

[2016-10-25 10:40] warpech commented on #21
I will take a look, thanks for the detailed description.

[2016-10-25 10:45] warpech commented on #11
I thought that your workaround (`this.Expense.Clear()`) fixes the bug actually?

[2016-10-25 11:26] warpech commented on #21
Let me start by explaining what actually happens. It is not that we hit a connection error. We hit a server side exception:

[code]

A server side exception breaks the WebSocket, and that causes the connection error.

The reason for the exception is a known issue in Starcounter. It is explained here: https://github.com/Starcounter/Starcounter/issues/3760

I believe that your solution `this.Expense

[2016-10-25 13:00] ErlendLandro commented on #21
Okay, got it. Wouldn't we need to update the view to get the expense fields back after we have used <code>.Clear()</code>?

[2016-10-25 13:25] warpech commented on #21
Starcounter's TypedJSON auto binding does that automatically.

[2016-10-25 14:03] ErlendLandro commented on #21
It seemingly does not. In order to get the expenses list back in the view I have to do a solution like this:

[code]

It's probably not what we want.
@ubbeK

[2016-10-25 15:02] warpech commented on #21
You are absolutely right. We can write it in a slightly DRY-er way, though.

Notice that I introduced `, IBound<Person>`. This would need to be actually added in one of the previous steps.

**Program.cs**

[code]

**PersonJson.json.cs**

[code]

[2016-10-25 15:09] ErlendLandro commented on #21
I'll add this to the repo and to the tutorial tomorrow morning or tonight. I appreciate the help!

[2016-10-26 09:54] #21 closed, assigned to warpech

[2016-10-26 09:56] ErlendLandro opened #22 "Add title to code blocks"
Right now the code blocks are described by the file they're in.

We should add an additional snippet of text on the same row of the file name that describes the code-block.

[2016-10-26 12:11] #11 closed, assigned to nobody

[2016-10-26 12:37] ErlendLandro opened #23 "Make GIF's work in all web browsers"
Gif's does currently only work in some browsers if you open them up in full screen.

Try to find a solution where the GIF's play automatically without needing to click on them.

[2016-10-26 12:50] warpech commented on #23
In what browsers GIFs do not play automatically?

[2016-10-26 12:52] warpech opened #24 "Rename the first page"
Perhaps it would be good to rename the URL from "Hello World Introduction"?

Some suggestions:
- Hello World
- Hello World project

WDYT?

Also, I recommend to change the URL from `http://starcounter.io/tutorials/hello-world-introduction-2/` to `http://starcounter.io/tutorials/hello-world/`

[2016-10-26 12:55] ErlendLandro commented on #23
Chrome on OSX, Edge, and IE are those I know

[2016-10-26 12:56] ErlendLandro commented on #24
You're completely right, I'll fix that right away

[2016-10-26 12:57] Joltrix opened #25 "Opening images in other tabs?"
Question.

At the moment, when an image is clicked, it changes the page to the image.

Would it perhaps be better to make the image open on a separate tab?

@Mackiovello @warpech what do you guys think?

[2016-10-26 12:59] ErlendLandro commented on #24
Url and title of Hello World page is now fixed

[2016-10-26 12:59] #24 closed, assigned to Mackiovello

[2016-10-26 13:01] warpech opened #26 "Incomplete code snippets in Step 1"
Suggestion - I think that two code snippets in Step 1 are a little bit too shortened.

The first code snippet should look like:

[code]

The second snippet should be:

[code]

Right now it is:

<img width="1314" alt="screen shot 2016-10-26 at 14 57 41" src="https://cloud.githubusercontent.com/assets/566463/19726736/a9da6286-9b8c-11e6-9ab7-ae0dcdba56da.png">

[2016-10-26 13:05] warpech commented on #25
I think that the good default behaviour on the web is to open the image in the same tab. Right click or CTRL + click allows to open in a new tab.

**But** it would be better if the images opened in some form of lightbox instead of replacing the full page.

[2016-10-26 13:07] ErlendLandro commented on #25
Would something like this be sufficient?
<img width="528" alt="screenshot" src="https://cloud.githubusercontent.com/assets/19392292/19726998/d596db74-9b8d-11e6-9f35-a24ba63d8773.png">

[2016-10-26 13:07] ErlendLandro commented on #26
Yea, that makes sense. I'll fix it right away

[2016-10-26 13:07] Joltrix commented on #25
Yeah, that would look a lot better! :D

[2016-10-26 13:10] ErlendLandro commented on #26
Code snippets are now lengthened according to comment by @warpech

[2016-10-26 13:10] #26 closed, assigned to Mackiovello

[2016-10-26 13:14] ErlendLandro commented on #25
Lightboxes like the one above have now been added to all images and GIFs.

[2016-10-26 13:14] #25 closed, assigned to Mackiovello

[2016-10-26 13:18] warpech commented on #25
Does not work for me... Perhaps you need to clear WP Super Cache?

[2016-10-26 13:21] ErlendLandro commented on #25
Can you try one more time? I cleared the WP Super Cache

[2016-10-26 13:24] warpech commented on #25
Yeah, works now!

[2016-10-26 13:47] warpech commented on #23
Perhaps it's because the GIF is not inserted as full size?

This causes WordPress to convert GIF into a smaller resolution, static image

[2016-10-26 13:50] ErlendLandro commented on #23
That's possible. I'll try to scale down the size of a GIF and try if that works.

[2016-10-27 10:19] warpech opened #27 "Rename Step 7 "Simplifying the Data Model""
The current title of step 7 "Simplifying the Data Model" misses the point of this step.

The point is to switch from your own data model to a shared data model, so you can benefit from your data being shared with other apps.

I propose to rename this step to "Using a shared data model"

[2016-10-27 10:23] warpech opened #28 "Add "Experimental" notice to Steps 8 and 9"
As @mtornwall pointed out in https://github.com/Starcounter/CompanyTrack/issues/242#issuecomment-256587065, Steps 8 and 9 are using an approach that is likely to be changed in future.

I think that we owe it to the developer to explain this. Something along the lines of:

@Mackiovello can you add the above notice to Steps 8 and 9? Feel free to improve the message.

[2016-10-27 11:12] ErlendLandro commented on #27
Step 7 is now renamed to "Using a Shared Data Model"

[2016-10-27 11:12] #27 closed, assigned to Mackiovello

[2016-10-27 11:29] ErlendLandro commented on #28
I've added the following notice on steps 8 and 9:

<strong>Disclaimer</strong>
The APIs used in this step are experimental. We consider blending of different application's user interfaces to be an essential feature. Currently, it's functional but not optimal. We are working hard to develop exceptional blending that might require the steps outlined here to be changed. Feel free to follow our <a hre

[2016-10-27 13:50] mtornwall commented on #28
Sounds good to me. 👍

[2016-10-27 14:05] ErlendLandro commented on #23
Scaling down worked! Pages now load faster and the GIFs work in all web browsers.

[2016-10-27 14:05] #23 closed, assigned to nobody

[2016-10-28 08:44] warpech commented on #28
I would remove this part: "Currently, it's functional but not optimal.". Self criticism is good, but doesn't look good in docs :)

[2016-10-28 09:15] ErlendLandro commented on #28
That part is now removed 😃

[2016-10-28 09:20] warpech commented on #28
Thanks! Closing as done

[2016-10-28 09:20] #28 closed, assigned to Mackiovello

[2016-10-28 15:54] warpech opened #29 "Add link to HTMLComposition API guide"
On this page http://starcounter.io/tutorials/hello-world/ui-blending-hello-world-part-9/
add a "read more" link to this page: http://starcounter.io/guides/web/import-html-compositions/

Thanks!

[2016-10-28 16:23] ErlendLandro commented on #29
Link added to part 9!

[2016-10-28 16:23] #29 closed, assigned to Mackiovello

[2016-11-07 14:05] warpech opened #30 "Improve README.md"
If somebody finds the repo first, make it trivial for them to get to the tutorial itself—put a link in there, or else have the steps summarized in the README.

Some tiny inspiration can be taken from how it is done in https://github.com/Starcounter/InvoiceDemo/blob/master/README.md

Got this suggestion from Ted.

[2016-11-07 14:18] warpech opened #31 "Improve the tutorial intro"
This paragraph feels a little odd:

We will guide you through the process of creating a database, making an interactive UI, and blending different applications seamlessly together.

As suggested by Ted, it could be rewritten to sound more appealing.

I like how this tutorial begins: https://spatialos.improbable.io/docs/reference/8.0/tutorials/pirates/overview

[2016-11-07 14:28] warpech opened #32 "Dead link in "Create a Real Time UI""
In the step "Create a Real Time UI", the link to **"Learn about Polymer bindings"** is a 404:

![screen shot 2016-11-07 at 15 28 22](https://cloud.githubusercontent.com/assets/566463/20061141/dad5b2f2-a4fe-11e6-9872-3c410f56edcc.png)

[2016-11-07 14:32] warpech opened #33 ""Create a Real Time UI" needs to mention thin-client view-model rendering"
As Ted pointed out, the "Create a Real Time UI" jumps to creating files without explaining what we are really doing:

I think that we need to explain in **one paragraph** that we are defining a view-model in C# with a real time view in HTML.

Some description might be borrowed from:

- https://starcounter.io/tutorials/1-introduction-to-part-1/1-4-create-the-view-model/
- https://starcounter.io/tut

[2016-11-07 14:51] warpech opened #34 "“First Interactive UI” should better explain code-behind sync"
On the page "First Interactive UI" there is a paragraph that advocates the use of server-side view-models in a quite unconvincing way.

This was reported by Ted.

I propose to rewrite this paragraph:

With something like:

Good to put some link in the right column that explains this in details.

[2016-11-07 16:28] tomalec opened #35 "List of already created expenses is not rendered."

[2016-11-07 16:34] tomalec opened #36 "List of already created expenses is not rendered"
Once I have added some expenses to http://localhost:8080/HelloWorld (step 6) and reload the page, my expenses are no longer there.

Is it a "know simplification" not to write too much code?
If so, I find it pretty confusing as  even though there are no expenses my balance is >0, and they will appear after clicking "Cancel" button.

![expenses](https://cloud.githubusercontent.com/assets/17435/20066

[2016-11-07 16:35] #35 closed, assigned to nobody

[2016-11-07 16:39] tomalec opened #37 "Need for Launcher needs to me either removed or clearly communicated"
As due to https://github.com/Starcounter/Starcounter/issues/3915 Launcher needs to be running to execute the curl with layouts, I think it would be good to mention this at
https://github.com/StarcounterSamples/HelloWorld/commit/d511f5abc1c09952ba005fb9d3bf9d410055140e#diff-0cbf7f0b9cd8fbd93b45f23f30787aa1R10

As I spent almost an hour wondering why I get
[code]

[2016-11-07 19:48] ErlendLandro commented on #32
Link is now fixed

[2016-11-07 19:48] #32 closed, assigned to nobody

[2016-11-07 19:53] ErlendLandro commented on #37
Since we're not using cURL in the HelloWorld tutorial, is this necessary?

It's explained in the [guides](https://starcounter.io/guides/web/import-html-compositions/) where we link from the tutorial.

[2016-11-07 20:03] ErlendLandro commented on #34
Paragraph changed to the following:

[2016-11-07 20:03] #34 closed, assigned to nobody

[2016-11-07 22:07] tomalec commented on #37
Sorry IMissed those guides, as I was just reading code and commits from repo. But, then I would have even more comments ;)
1. I'd add the link to this guide in this repo's README.md,
2. I'd move the disclaimer to the REST API article as this one is experimental, and Shadow DOM is pretty stable,
3. In general, I'd like to remove the need for the Launcher for both cases (see issues in Rebels Lounge)

[2016-11-08 09:27] ErlendLandro commented on #30
README is now updated with a link to the tutorial

[2016-11-08 09:27] #30 closed, assigned to Mackiovello

[2016-11-08 10:33] ErlendLandro commented on #31
Is this more how you would like it?

[2016-11-08 10:42] ErlendLandro commented on #31
It's now published in a somewhat reworded fashion [here](https://starcounter.io/tutorials/hello-world/)

[2016-11-08 14:54] ErlendLandro commented on #7
Works as intended, no problem deleting the 1

[2016-11-08 14:54] #7 closed, assigned to chrhol

[2016-11-08 15:07] ErlendLandro commented on #33
Short explanation added to the beginning of the document.

Open this issue again if it's not satisfactory.

[2016-11-08 15:07] #33 closed, assigned to Mackiovello

[2016-11-09 14:33] ErlendLandro commented on #22
Titles are added to  the code blocks where there is space on the top of the code block.

[2016-11-09 14:33] #22 closed, assigned to Mackiovello

[2016-11-10 12:36] ErlendLandro commented on #31
Close since intro is improved

[2016-11-10 15:57] warpech commented on #31
Just one more remark - please use more confidence!

[2016-11-10 16:02] ErlendLandro commented on #31
Intro is now more confident

[2016-11-10 16:02] #31 closed, assigned to Mackiovello

[2016-11-28 12:14] ErlendLandro commented on #10
Closes since pop-ups are not compatible in code blocks with our WordPress setup. Changing the way code blocks work would require us to change all the code we have on the site, which would not be worth it.

[2016-11-28 12:14] #10 closed, assigned to Mackiovello

[2016-11-30 15:54] ErlendLandro commented on #36
This issue is now fixed both in the tutorial and in the code on branch `tutorial-20161130` that is now set to default.

It was as simple as changing `if (person.Spendings == null)` to `if (person.Spendings != null)`

[2016-11-30 15:54] #36 closed, assigned to Mackiovello

[2016-12-04 19:15] SenerDemiral opened #38 "How to create src solution folder in solution?"
In:  https://starcounter.io/hello-world/create-a-database-class-hello-world-part-1/
Create a Database Class

How?

**How to: Add Solution Folders to a Solution** document describe as;

But it does not create windows folder! But your source have **src** folder.

I think, i missed something.

[2016-12-04 20:30] SenerDemiral commented on #38
Create New Solution in VS

Template: Other Project Types -> Visual Studio Solutions -> Blank Solution
Location: C:\someDirectory
Solution Name: StarcounterHelloWorld

Add new project to solution

Name: HelloWorld
Location: C:\someDirectory\StarcounterHelloWorld\\**src**

[2016-12-05 05:35] ErlendLandro commented on #38
I'm not quite sure if I understand your question.
This is how you would create a src folder in VS:
![srcfoldergif](https://cloud.githubusercontent.com/assets/19392292/20874561/5b25847c-bab3-11e6-863b-7c0f6288cd45.gif)

This step is not entirely necessary. I'll look into it and see if we can make this easier to follow. For now, you can skip that step since it doesn't actually change anything about

[2016-12-05 08:24] SenerDemiral commented on #38
Thank you,
We, newbies stumble such details.
If it is not necessary, please extract below paragraph.

This src is logical folder not OS folder/directory.
But in your source code (GitHub) it is real OS folder.
Never mind!

[2016-12-06 12:38] ErlendLandro commented on #38
Need for the `src` folder is removed and references to it in the tutorial are removed

[2016-12-06 12:38] #38 closed, assigned to Mackiovello

[2016-12-10 03:40] dan31 opened #39 "HtmlFromJsonProvider(), PartialToStandaloneHtmlProvider(), SessionOptions.PatchVersioning"
Yeah yeah I know we've been discussing this in iterations again and again, and I do not discover anything new there, and this is not about a particular tutorial but the problem in general, but we really need to continue actively thinking until the problem is resolved. Step 1 in tutorial is supernice and simple with db classes and transaction, but then Step 2 "Adding some Gui" is like "BOOOOF" in m

[2016-12-10 11:54] ErlendLandro commented on #39
This may be a little naive; would it be feasible to implement implicit session creation? Or rather, are there cases when you would not like to have sessions?

Regarding the tutorial, I completely agree. That whole block of code is pretty much glossed over because it would be a distraction to have a lengthy description of HtmlFromJsonProvider, sessions and so on. On the other hand, now it's confusi

[2016-12-10 16:06] dan31 commented on #39
@Mackiovello we don't have a solution still, but we now have more bright minds like you to help us all solve the puzzle. As you say, it might be the only way - to provide implicit defaults for applications with GUI.  As a developer, I don't want to get those with backend-only apps, but I definitely appreciate those defaults present which I would use for full apps (blendable) 95% of the time. I wou

[2016-12-11 19:34] SenerDemiral opened #40 "What is PartialToStandaloneHtmlProvider?"
Is it?
or
If firstPage does not contain `<!DOCTYPE html>`, Starcounter sends implicit HTML template that contains code to bootstrap.
[code]

[2016-12-12 10:15] ErlendLandro opened #41 "Record and upload tutorial videos"
### Create Hello World video tutorials

To back up the written tutorials I'll make video tutorials for those that prefer watching instead of reading. The code will be the same, although the content might be a little bit more in-depth in the videos. The goal is to keep them below 10 minutes.

The steps to achieve this are:
1. Get pop-filter or find studio time
2. Write a short script for the video

[2016-12-12 10:29] ErlendLandro commented on #40
@per-samuelsson do you know more about this?

[2016-12-13 20:16] ErlendLandro commented on #41
The first draft is now up on Youtube as an unlisted video for you to watch. Please take a look [here](https://youtu.be/oXwX2ug75os) and say what you think.

The obvious thing I have to do is to get a license for Camtasia to get rid of the watermark, it also seems like the volume is far too low. That is an easy fix though.

@ubbeK @Joltrix @warpech

[2016-12-13 22:18] dan31 commented on #41
@Mackiovello I recommend native streaming to youtube using https://obsproject.com/. If you want to check out how easy this can be done, join one of our weekly meetings every Wednesday 12-30!

[2016-12-14 06:26] ubbeK commented on #41
Much better structure!

Does Starcounter have any official intro which we may use in the tutorials?

[2016-12-16 09:04] Joltrix commented on #41
Good job! :D Except for the sound issue (and the obvious watermark lol), I couldn't find anything bad with it! :)

1 thing though, not sure if its only me, but I had a hard time understanding/hearing "your title" (when you introduced yourself :/ ) Especially when your title is something "unheard of", so just kinda be clearer with that I guess :D

And like @ubbeK said, It would be really cool if we

[2016-12-16 09:44] ErlendLandro commented on #41
Good catch! I'll redo the first part tomorrow to be clearer. With that I'll also fix the two other issues and post the new version here to confirm that it look good.

That's right, it would give it a more professional look. I'm thinking of using a small part of the [video on .com](https://www.youtube.com/watch?v=pLEcoqkuu6A) with the fancy lasers and stuff followed by the Starcounter logo. Not sur

[2016-12-16 09:48] Joltrix commented on #41
@Mackiovello

Hmm, You can try, as long as it's not too long  :O An intro, at least in my eyes, would be something like, 1-3 seconds, maybe max 5. and kinda shows of the starcounter logo somehow (either an animation that "forms" the logo, or just an animation that "causes the logo to appear" or something similar)

For example: Check the first 5 seconds of this [video](https://www.youtube.com/watch

[2016-12-16 10:33] ErlendLandro commented on #41
That's a good example. I could easily pull together some simple animation where the Starcounter logo comes flying in or something like that. It would possibly be the best type of intro since it's not a distraction. This should probably be coupled with some neat little sound as well.

[2016-12-17 20:52] ErlendLandro commented on #41
The final first part is now uploaded in a good enough shape to be considered done, although if you have some remarks for future videos, I'll gladly listen to them. The sound volume is greatly increased, there is a simple intro with the Starcounter logo, and I've added some annotations to increase clarity.

The video can be found [here](https://www.youtube.com/watch?v=l47yiXb-zmw).

[2016-12-18 16:56] ubbeK commented on #41
@Mackiovello Nice, I think we should involve the Christer Bengtsson, the Marketer, regarding the decision of an intro. Does he have GitHub?

[2016-12-18 19:15] dan31 commented on #41
@Mackiovello I don't think we need to explain how to download VS - if you do, then you also need to explain how to install it 😈 I believe that saying smth like "We will use Visual Studio 2015 Community in this video" should be fine. I emphasize on that, because Starcounter is not a Microsoft product.

[2016-12-18 20:12] ErlendLandro commented on #41
The video is taken down since it seems like I have to do some more work on it.

@Christerben is there a short Starcounter video intro available? Or do we have to make something?

@dan31 got it. I'll make this change as soon as possible.

[2016-12-18 20:24] dan31 commented on #41
@Mackiovello I think in general the video is great and I like the way you explain and talk, I suggest it can be made shorter / more dynamic. People are inclined to consume big amount of small videos today. After you have it, don't hesitate to use youtube editor to cut some unnecessary pauses or speed up some fragments with typing only.

[2016-12-18 20:33] warpech commented on #41
I didn't manage to see the video, but once again I recommend buying Screenflow or Camtasia for @Mackiovello for great looking screencasts.

[2016-12-19 06:32] ErlendLandro commented on #41
@warpech I've bought Camtasia, to that's fixed.

@dan31 I'm aware that some people enjoy their videos to be somewhat fast-paced, though that's not the case for everyone. There's always the option of speeding up the video in the youtube player. You are right that I should try to cut some pauses and maybe look if I can speed up parts of it.

Do I speak too slow? I know I have a tendency to speak fas

[2016-12-19 16:09] warpech commented on #40
This middleware is explained as an inline comment: https://github.com/Starcounter/Starcounter/blob/1576adc7545a36d9541908854570a510696eef80/src/Starcounter/Middleware/PartialToStandaloneHtmlProvider.cs#L7-L21

[2016-12-19 16:16] warpech commented on #40
@SenerDemiral anything we should add in your opinion?

Both your answers are generally the same thing. I think that our explanation that you quote is quite enough for a "Hello World" tutorial, but it should be followed by a link to a more detailed explanation (like presented by you).

I have made an internal note to improve the docs.

[2016-12-19 19:04] SenerDemiral commented on #40
Thanks @warpech.
If PartialToStandaloneHtmlProvider() are used no need to write classic `index.html`.
Necessary files automatically sends to client.

[2016-12-19 19:04] #40 closed, assigned to nobody

[2016-12-20 10:52] ErlendLandro commented on #41
Here's the new version of the first part: [https://www.youtube.com/watch?v=s4GKDbhq2B0](https://www.youtube.com/watch?v=s4GKDbhq2B0)

Here's what I've done:
1. Increased the pace of the video significantly.
2. Cut the part where I described how to get VS etc.
3. Added a nice little intro.
4. Improved the outro.
5. Cut out all the waiting part of the tutorial.

Please take a look and say what you t

[2016-12-20 11:15] warpech commented on #41
Good idea with the drawings - you present the result of the whole HelloWorld before beginning. Amazing drawing skills :) And everything else is amazing, too!

I am missing something about what is the topic of this video, because you only mention what is the topic of the whole series.

Around second 0:25, it would be good to add on-video captions with links to Starcounter and Visual Studio.

Regard

[2016-12-20 11:31] ErlendLandro commented on #41
Thank you! That's good to hear.

I knew I missed something. Working on a fix right now.

The goal was to do this, though it turned out that Youtube has pretty harsh restrictions regarding linking to outside websites using on-video captions, that's why I'm adding them in the description instead. Hopefully, that's acceptable. I'll go ahead and add the URL in an on-video caption as well.

[2016-12-20 11:33] warpech commented on #41
I suggest that you introduce yourself with your full name, not just first name. At least in the written form on screen.

[2016-12-20 11:51] ErlendLandro commented on #41
Fixed!

@ubbeK @Joltrix
Could I get some feedback from you guys before I upload the new version with the fixes that Marcin proposed?

[2016-12-20 12:24] Joltrix commented on #41
Okay, I've watched it a few times to kinda form an opinion :P

The first thing I noticed.. was the music xD what's up with the music? Would it be possible to change the music to something else? even just something ambient, or a ping noise would suffice.

How come you use the white "intro", but with a black border. It feels so.. "copy-pasted". would it be possible to kinda change the "theme-color"

[2016-12-20 12:38] Christerben commented on #41
I’ve watched the video a couple of times now. Overall impression is that it’s brilliant! I really like the drawings.

About the border that Dimitris had some thoughts on. I think it needs to stay, to emphasize the feeling of a cube rotating. I agree with Marcin, you should have your full name on the screen but it’s enough to speak only your first name.

The music could be more ”futuristic”, if you

[2016-12-20 13:01] ErlendLandro commented on #41
## Answer to @Joltrix

I searched around for an eternity looking for open source music. Do you know a good place to look? There are a ton of piano solos in minor scales, though that can't be what we want. This connects to what @Christerben says in that:

The whole sound aspect is way more challenging than I expected. From what both of you are saying, the ultimate solution would be to put together

[2016-12-20 14:23] ErlendLandro commented on #41
It's improving!

Here's a new version with responses to your comments: [https://www.youtube.com/watch?v=0JhPJJZhG8c](https://www.youtube.com/watch?v=0JhPJJZhG8c)

How's the music in this one @Joltrix ?

There are still two issues:
1. The music has a Creative Commons license that does not allow commercial use. Even If I'm just using 3 sec of a 4 min sound file, I believe I have to find something el

[2016-12-20 14:36] Christerben commented on #41
Looks good!

1. Have you checked these sites? https://creativecommons.org/about/program-areas/arts-culture/arts-culture-resources/music-communities/

2. The sound variation is much smaller now. I think it is acceptable.

[photo]
[https://s3.amazonaws.com/images.wisestamp.com/icons_32/facebook.png]<https://www.facebook.com/StarcounterDB/> [https://s3.amazonaws.com/images.wisestamp.com/icons_32/link

[2016-12-20 14:36] Joltrix commented on #41
oooh!! I think this is a lot better!! Specially the intro, the music and the transition to the "hello world part 1" screen.

1 thing though, how come the borders to the orange boxes is green xD? Wouldn't it look better with.. something more dark greyish, or black or something like that~?

If its not too much work, I'd love to see how everything would look with a bit shorter fade in. (don't get me

[2016-12-20 14:45] ErlendLandro commented on #41
No, I haven't. I'll continue looking there. Thank you!

Didn't even notice that. I'll fix it right away.

I tried that now, it looks much better.

I was conflicted about that. Though now it's gone.

The last thing to do is to find some music that I can use legally. Then I think we can consider this one done.

[2016-12-20 15:36] ErlendLandro commented on #41
Hopefully, this will be the final version. The transitions are improved, there are no more green boxes, and the sound is now used legally.

I'm aware that there are a couple of seconds extra after I stop talking. That is to give people time to click that big beautiful button. If you feel like that should be removed, it's really easy to shave of using the Youtube editor.

Take a look here: [https:/

[2016-12-20 15:50] Joltrix commented on #41
Nah, it's fine like that! :)

Good job~ This looks really good :D I don't have any more "complaints" haha :P

[2016-12-21 10:37] warpech opened #42 "HelloWorld does not build automatically when you start it from VS"
When you download HelloWorld from GitHub, open in VS and press debug, there is a message saying that the binary file is not found.

This is because the solution is not configured to automatically build when debugging.

I have a fix locally and can submit it.

cc @Mackiovello

[2016-12-21 11:21] ErlendLandro commented on #41
Part two of the draft is now [here](https://www.youtube.com/watch?v=HLPI-GDOOXo)

Please take a look and state your opinion.

[2016-12-21 11:23] ErlendLandro commented on #42
What is the fix?

Does it require significant changes in the tutorial?

Why does this problem occur?

[2016-12-21 12:20] warpech commented on #42
The problem occurs because the "Build" checkbox is not selected in Solution > Properties > Configuration in Visual Studio. I don't know why this happens, but it happens sometimes.

I don't know if I will manage to do the rebase this week. If you have some time, maybe you could fix it?

[2016-12-21 17:13] ErlendLandro commented on #42
I'll take care of it tomorrow

[2016-12-22 10:36] ErlendLandro commented on #42
Okay, so this did not turn out the way I expected.

This is what I did:
1. Clone repository
    * Checkboxes are not selected
2. Run `git checkout -b tutorial-20161222`
    * Checkboxes are not selected
3. Run `git rebase --interactive --root`
    * Checkboxes are now suddenly selected on all commits
4. Run ` git push --set-upstream origin tutorial-20161222`
5. Delete local repo
6. Clone remote re

[2016-12-22 11:56] warpech commented on #42
I think we can use the Git history on the sln file to tell us what's going on.

The history of the sln file shows that it was changed only in two steps: https://github.com/StarcounterSamples/HelloWorld/commits/3ba2731f8333160dcb08be32365ea9e01ba357f9/HelloWorld.sln

`git checkout 3ba2731f8333160dcb08be32365ea9e01ba357f9` > Visual Studio has no checkboxes checked.

`git checkout 7ce6176d25ed9127862

[2016-12-22 11:57] warpech commented on #42
Try to delete the `.vs` directory between the steps. Maybe this interferes.

[2016-12-22 13:53] ErlendLandro commented on #42
You're a genius! It's fixed now, closing the issue.

[2016-12-22 13:53] #42 closed, assigned to Mackiovello

[2016-12-22 19:02] ErlendLandro commented on #41
Draft of part three is now [here](https://www.youtube.com/watch?v=YUjoClV3qTE)

[2016-12-23 09:52] Joltrix commented on #41
Good job, once again :D

There were only a few things that I think can be improved.

1.when you talk about the dollar sign, you simply say that you make the property "changeable". Which isn't wrong per say but I think it would be easier to understand if you were to say "By adding the dollar sign we make this property two-way-bindable, which allows us to edit this value from: both the client side,

[2016-12-23 12:03] ErlendLandro commented on #41
Thank you for the review @Joltrix, I'll deal with it as soon as possible.

Meanwhile, here's the draft for part 4: [https://www.youtube.com/watch?v=nB0HcYNuavQ](https://www.youtube.com/watch?v=nB0HcYNuavQ)

[2016-12-27 08:40] ErlendLandro commented on #41
The latest versions of the first four drafts are linked in the first post. The latest points by @Joltrix are addressed. The goal is to be entirely done with the drafts by the end of the week.

[2016-12-28 15:04] ErlendLandro commented on #41
This one took way more time than I expected. Here it is, [part 5](https://www.youtube.com/watch?v=MHqZ-RGSbrI)

[2016-12-28 17:22] ErlendLandro commented on #41
[Part 6 is now up](https://www.youtube.com/watch?v=PfrQQBtNoT4)

[2016-12-28 21:33] warpech opened #43 "HelloWorld does not compile in VS2012 .NET 4.5"
We got this comment to a commit from @alshakero ([source](https://github.com/StarcounterSamples/HelloWorld/commit/d54095c478d4db8610c1e0fa9865a7fabaa8c6e6)):

[code]

It would be great to make our sample apps compile in all supported versions of VS without sacrificing the usage of C# 6.0.

@alshakero could you please check if installing C# 6.0 with these instructions http://stackoverflow.com/quest

[2016-12-28 22:40] alshakero commented on #43
My NuGet was too old to install `Microsoft.Net.Compilers`.
I had to update it using [this method](http://stackoverflow.com/questions/27384885/how-to-upgrade-nuget-with-visual-studio-express-2012).

Then I followed the instructions you referred to, and it did compile, but another problem arose.

![image](https://cloud.githubusercontent.com/assets/17054134/21533020/c33f0cbc-cd56-11e6-9a38-d303166efd

[2016-12-28 22:54] warpech commented on #43
If we find a solution, we should add it to the `README.md` file. Some of our apps have info how to build C# in their [CONTRIBUTING.md](https://github.com/StarcounterPrefabs/Launcher/blob/develop/CONTRIBUTING.md#building) file.

Meanwhile, I suggest to upgrade to VS2015 Community Edition.

[2016-12-29 09:59] ErlendLandro commented on #41
[Part 7 is also uploaded](https://www.youtube.com/watch?v=KatVtS6fwUo)

[2016-12-29 13:58] ubbeK commented on #41
In the second video, `SessionOptions.PatchVersioning` is quickly explained, but I cannot find any deeper explanation on starcounter.io. The same problem goes for `Application.Current.Use(new PartialToStandaloneHtmlProvider());`. Only `Application.Current.Use(new HtmlFromJsonProvider());` can be found at https://starcounter.io/guides/network/request-response-filters/#json-view-models-html-views

Th

[2016-12-29 14:17] ErlendLandro commented on #41
@ubbeK this is directly related to #39. I completely agree that it seems to be an important component that is not described properly anywhere. It probably should be made into an issue at [TechComm](https://github.com/Starcounter/TechComm).

**EDIT**
There's actually an issue that's assigned to me about this. I'll take care of it after we've managed to migrate the documentation.

On another note, a

[2016-12-29 17:10] warpech commented on #37
Since Launcher 6.0.0, the need for Launcher is gone.

But still you will get the error as described in first comment if CompositionEditor app is not running.

@Mackiovello can you please update the description of step 9 that you need CompositionEditor to import the composition from file. You will need CompositionProvider and CompositionEditor apps running to edit the composition live in web browse

[2016-12-30 08:22] ErlendLandro commented on #37
@warpech are you sure about that? CompositionProvider requires 2.3 and I believe that the tutorial should work on starcounter stable. Please correct me if I'm wrong.

[2016-12-30 11:31] warpech commented on #37
Very good question! Luckily, CompositionProvider and CompositionEditor also work with 2.2, they were just not built for 2.2. I have made a build and uploaded it to the old Warehouse.

[2016-12-30 11:45] ErlendLandro commented on #37
Wow! I tried it now, it's a beautiful solution!

Just a tiny thing, I would love to have a small exit button in the top right corner. Other than that, this feels way more intuitive than using the launcher.

I'll incorporate it into the tutorial right away.

[2016-12-30 11:53] warpech commented on #37
Feel free to add an issue in https://github.com/Starcounter/CompositionEditor

Btw you can press Esc or CTRL+E to close the editor. I will add this to README

[2016-12-30 11:57] ErlendLandro commented on #37
The tutorial is now updated, so this issue can be considered solved.

Will do

[2016-12-30 11:58] #37 closed, assigned to Mackiovello

[2016-12-30 12:10] warpech commented on #37
Great, thanks! In future I think we should recommend installing Images, CompositionEditor and CompositionProvider from Warehouse instead of from GitHub.

[2016-12-30 14:21] ErlendLandro commented on #37
The tutorial is now updated to encourage the use of the App Warehouse.

[2017-01-02 13:43] warpech opened #44 "Create a HelloWorld fork with React"
This is an issue for investigation. What does it take to rebuild Hello World using React instead of Polymer on the client side. The solution should still use PuppetJs, so a PuppetJs-React bridge will be needed.

@alshakero - can you take this as a long term investigation? Please don't focus too much on it right now, but investigate when there are no other more important issues.

In future, I would

[2017-01-02 13:46] alshakero commented on #44
@warpech I'd love to, I'll report back here.

[2017-01-04 08:45] mattiasmak commented on #44
I just want to point out that this is one of Colabers highest priorities right now. Calle will go to Starcounter HQ today and discuss this a bit further. Perhaps we can join forces on this one?

[2017-01-04 11:39] warpech commented on #44
Great, let's discuss after Calle meets with Stefan.

[2017-01-04 17:54] Joltrix commented on #41
@Mackiovello

part 6:
You say that `Ibound<Person>` is needed. Is it perhaps possible to kinda, explain why its needed? or what it does?

also, at [2:30](https://youtu.be/PfrQQBtNoT4?t=149)~ you're writing things at the bottom of the screen (if the mouse is over the video window, the progressbar will block what you're writing), and when you fill the function, the content isn't visible.

Also, smal

[2017-01-04 19:05] ErlendLandro commented on #41
@Joltrix Thank you for the review! I'll look over your comments and make changes accordingly. What I'm struggling with is knowing how much people understand, i.e what is very Starcounter specific vs. what is common sense. Telling me what was confusing for you is very helpful!

[2017-01-12 12:42] ErlendLandro commented on #41
The tutorial is now done and uploaded on Youtube.

It is easily accessible in this playlist: [https://www.youtube.com/watch?v=HyRoctAmYdU&list=PLzBy_ulksMjDppM_aNr4DedQDwYd4PL9Q](https://www.youtube.com/watch?v=HyRoctAmYdU&list=PLzBy_ulksMjDppM_aNr4DedQDwYd4PL9Q)

I'll link this playlist from the introduction to the written Hello World tutorial and consider this issue done.

[2017-01-12 12:42] #41 closed, assigned to Mackiovello

[2017-02-09 18:29] warpech commented on #44
Closing as done:

- https://github.com/StarcounterSamples/HelloWorld-React
- https://github.com/StarcounterSamples/ReactNative-HelloWorld

In case of issues, please create issues there.

[2017-02-09 18:29] #44 closed, assigned to alshakero

[2017-02-09 18:30] warpech opened #45 "Create a HelloWorld fork with Polymer 2.0"
Let's try to use HelloWorld as a playground to investigate bridging PuppetJs with Polymer 2.0 (instead of 1.x).

@alshakero please take this and see how far we can get.

[2017-02-09 18:31] warpech commented on #45
cc @tomalec

[2017-02-09 18:34] warpech commented on #45
@tomalec is also trying to attack upgrade to Web Components v1 and Polymer 2.0 from another, low level end. Let's see how far you can get coming from PuppetJs end and then we will be able to compare resutls.

I think that this will be easier with Step 4, because it only uses `<template is="imported-template">` (which is Polymer), not `<starcounter-include>` (which is vanilla).

[2017-02-09 18:51] tomalec commented on #45
`imported-template` is vanilla as well

https://github.com/Juicy/imported-template/blob/master/imported-template.html

Anyway I believe it would be way much easier if you will not have to bother about blending, and could control binding by yourself, or wrap it with `<dom-bind>`.

[2017-02-13 09:01] alshakero commented on #45
Hello, I created [Polymer 2.0 branch for HelloWorld](https://github.com/StarcounterSamples/HelloWorld/tree/polymer-2) without blending, I guess it's the simplest example. Do you think I should create another component as a substitute of `puppet-client` as a next step?

I don't know if it is my fault _being no Polymer expert_, or it's actually Polymer's 2 fault. But for some reason the `{{model.var

[2017-02-13 12:44] tomalec commented on #45
It's hard to see the diff as there is just palindrom.min.js, also it does not use `imported-template` (`PersonJson.html`) at all, everything is just pushed to `PartialToStandaloneHtmlProvider`

[2017-02-13 12:49] alshakero commented on #45
That's true. It's intentionally over simplified. Because this is the first time we see:

1) JSON-Patch (the proxies version) actually working.
2) Palindrom actually working.
3) Me actually working with Polymer.

So I didn't want to trap myself with many issues at once. You can consider this sample as a bug reproduction code.

The bug being `{{model.FullName}}` isn't equal to `model.FullName`.

[2017-02-13 13:00] tomalec commented on #45
Well.. It's not the first time I see Palindrom/Puppet actually working ;)

And the changes made to Puppet + JSON Patch stack are very important to review

[2017-02-13 13:07] alshakero commented on #45
I completely agree. Do you suggest something I could do to understand why `{{model.FullName}}` isn't working?

[2017-02-13 13:10] tomalec commented on #45
Well, I believe it means integration w/ Polymer does not work smoothly, I'd debug Polymer code, most probably you need to notify Polymer's binding system about the change, as we did in `puppet-polymer-client`
https://github.com/PuppetJs/puppet-polymer-client/blob/master/puppet-client.html#L421

[2017-02-15 16:16] warpech commented on #45
@alshakero please continue with that. After working Step 4 we will need working Step 6 (and eventually Step 9), which requires communication between instances of `<dom-bind>`. I guess it is only solvable when you manage to solve the 2-way binding problem.

Polymer 2.0 is by no means finished, so it is **expected** that we will find problems that need asking on Polymer issue board, or changes to Po

[2017-02-15 16:21] warpech commented on #45
The final solution needs to be with zero code regarding Polymer 2.0 between lines: https://github.com/StarcounterSamples/HelloWorld/blob/polymer-2/src/HelloWorld/Program.cs#L31-L105. Polymer 2.0 must be bootstraped in `PersonJson.html`

[2017-02-16 12:23] warpech opened #46 "Create a HelloWorld fork with Vue.js"
[This looks very pleasing](https://appendto.com/2017/02/vue-jss-single-file-components-keeping-it-all-in-one-place-2/):

[code]

 - StarcounterApps/Launchpad@2.0.0
 - StarcounterApps/SignIn@6e0db6044b817b9fb0d64cdf4e24722b1760cb15

[2017-02-16 14:54] alshakero commented on #46
@warpech will look into it.

[2017-02-16 15:11] alshakero commented on #45
I need some more help. I ported `puppet-client` to Polymer 2.0 and it looks super cool, the difference is minimal.

And I used `customElements.define()` to define it. Then I noticed that `imported-template` isn't working, and isn't fetching the template, and `_loadExternalFile` isn't being called at all.

Is it OK to use the deprecated `document.registerElement` with WC 1.0? I can't find any other

[2017-02-21 13:19] alshakero commented on #46
@warpech Vue is crazy awesome!! Will share some news today.

[2017-03-14 11:57] warpech opened #47 "Update HelloWorld to use the "Trigger$" pattern in JSON"
Update HelloWorld to use the "XxxxTrigger$" pattern in JSON.

Relevant file: https://github.com/StarcounterApps/HelloWorld/blob/tutorial-20161222/src/HelloWorld/PersonJson.json

Properties: `Save$`, `Cancel$`, `DeleteAll$`

Discussion here: Starcounter/Guidelines#12

[2017-03-15 09:02] ErlendLandro commented on #47
Fixed in 20170315 branch and set to default branch

[2017-03-15 09:02] #47 closed, assigned to Mackiovello

[2017-03-27 13:15] warpech opened #48 "Add batch files"
@Mackiovello do you think it would be a good idea to add `build.bat`, `run.bat` in HelloWorld?

For me this would surely make it easier to run. I think it could be added in commit of Step 1 without even mentioning it in the Tutorials.

[2017-03-27 13:21] ErlendLandro commented on #48
I don't think it would be a problem to add. The links from the tutorial are still pointing to specific commits, adding it to the first commit where the solution etc. is created wouldn't pollute the repo.

I can take care of it if you want.

[2017-03-27 13:25] warpech commented on #48
Yes please. Just wait a second, cause I am adding another issue in few minutes.

[2017-03-27 13:39] warpech opened #49 "Step 9 does not work with current Images app"
Recently in the images app the URI that shows an Image of a something was changed.

In Step 9 (mapper apps), the line:

[code]

needs to be changed to:

[code]

----

Actually `/images/partials/somethings-edit/` displays a carousel with multiple items. It would be enough to have `/images/partials/somethings-single-edit/`, but we don't have that in the Images app now.

[2017-03-27 13:40] warpech commented on #48
Done https://github.com/StarcounterApps/HelloWorld/issues/49

[2017-03-27 14:03] ErlendLandro commented on #49
Fixed with https://github.com/StarcounterApps/HelloWorld/blob/tutorial-20170327/src/HelloWorldMapper/Program.cs

[2017-03-27 14:03] #49 closed, assigned to Mackiovello

[2017-03-27 14:03] ErlendLandro commented on #48
Fixed

[2017-03-27 14:03] #48 closed, assigned to Mackiovello

[2017-03-28 09:57] warpech opened #50 "Cannot use sample apps after Hello World is stopped"
Steps to reproduce:

1. Start Hello World
2. Stop Hello World
3. Start Launcher, People and SignIn
4. Sign in with a user
5. Go to http://localhost:8080/people/persons
6. You will get the following exception

[code]

[2017-03-28 09:58] warpech commented on #50
This is the same problem as https://github.com/Starcounter/Level1/issues/3449

[2017-04-28 12:58] ErlendLandro opened #51 "Use declarative shadow dom"
Since we're now moving towards declarative shadow dom in our sample apps, it should also be applied to the tutorial.

This is also needed for https://github.com/Starcounter/Docs/issues/69

I'll make a PR for it.

[2017-04-28 13:14] ErlendLandro commented on #51
This will actually not work until https://github.com/Starcounter/Home/issues/89 is fixed.

I'm also wondering how to do this. Should declarative shadow dom be introduced in step 2? That seems early to me. It would also be possible to integrate into step 9 before we use blending.

CC @tomalec

[2017-04-28 13:16] tomalec commented on #51
That's why I'd keep implicit slot names, then introduce it later on in step 9.

[2017-05-01 05:55] ErlendLandro opened #52 "Breakout mapping and blending part into its own tutorial"
After listening to some people that have done the tutorial, it seems like the mapping and blending part doesn't provide any real value the way it is right now.

It presents concepts that are barely touched upon in the [mapping and blending](https://docs.starcounter.io/guides/mapping-and-blending/) part of the guides, which is the documentation that is supposed to be in-depth. To those that have re

[2017-05-04 08:13] ErlendLandro opened #53 "Excessive field in the Person class"
In https://github.com/StarcounterApps/HelloWorld/commit/e71662b057d07951a3e46865f94a1fa18f26f590, `Spendings` is defined and then never used. This is rather confusing. `Spendings` should instead be bound to the `Expenses` array in the view-model.

The issue now is that people try to use the workaround solution in the tutorial instead of using proper data bindings. I'll see if it's possible to simp

[2017-05-04 08:39] ErlendLandro commented on #53
Created a solution in branch tutorial-20170504
Compare https://github.com/StarcounterApps/HelloWorld/commit/e71662b057d07951a3e46865f94a1fa18f26f590 to  https://github.com/StarcounterApps/HelloWorld/commit/da908b8389ec9be4d2aff307eb6abdc516d8ac8f

It's significantly less code and much easier to explain.  I'll integrate it into the tutorial and then close this issue.

[2017-05-04 12:36] ErlendLandro commented on #53
The simplified version is now live on the above-mentioned branch. It is now much easier to understand. The [Expense Tracker](https://docs.starcounter.io/tutorial/expense-tracker/) page is now possible to follow. Closing

[2017-05-04 12:36] #53 closed, assigned to nobody

[2017-05-05 10:36] warpech commented on #52
This is a good suggestion, I think we should go for it.

Though, in the "mapping and blending tutorial" (MnB) we must provide a clear goal in what to build. In Hello World the goal was to:

- learn HTTP handlers
- learn JSON with code behind
- learn binding to HTML
- learn buliding data models
- learn nesting of views

In mapping an blending the goal should be:

- share data with other apps
- shar

[2017-05-05 12:02] ErlendLandro commented on #52
Good to hear!

I completely agree with you regarding the goals. The question I'm asking myself is: does this even need a tutorial?

Let's break down the goals that you outline:

Right now, that simply means using a shared data model. That is partly covered in [the guides](https://docs.starcounter.io/guides/mapping-and-blending/sharing-data/). That page should be expanded to give some short code ex

[2017-05-05 12:38] warpech commented on #52
Tutorial is like a workbook (practical, hands-on, often the first contact). Guides is like a student's book (theoretical, often the second contact). I think it is super important to have sharing data in both places, because you cannot simply have blending without it.

Since mapping and blending is the most important (and also the most mind-bending) aspect of Starcounter, I cannot imagine how could

[2017-05-10 06:03] ErlendLandro commented on #52
Okay, I'll create a suggestion for two minimal apps that use blending and then build a tutorial out of it. The tutorial clearly needs to explain every step from the data sharing to visual blending. I would like to remove the current mapping and blending parts of the tutorial as soon as it's done since the features it uses are deprecated.

[2017-05-15 13:58] ErlendLandro commented on #52
A tutorial for mapping and blending will soon be created. Meanwhile, I would like to remove the mapping and blending parts from the tutorial. It's both misleading and doesn't actually work. I'll have a suggestion for the new tutorial in time for the next TechComm task force meeting the 30th.

[2017-05-19 07:58] ErlendLandro commented on #52
An update regarding this:

I've built on the current HelloWorld and created another minimal app to demonstrate blending. Looking over the documentation, the [sharing screen page](https://docs.starcounter.io/guides/blending/sharing-screen/) can also be replaced with this upcoming tutorial.

I'm currently stuck on trying to show how to map objects to one anther. The specific issue is that I'm not ab

[2017-05-19 08:00] ErlendLandro commented on #52
This new tutorial would also resolve https://github.com/Starcounter/Docs/issues/69 and https://github.com/StarcounterApps/HelloWorld/issues/51.

Additionally, it would only pertain to server side blending and sharing of data. I.e no client side blending tutorial yet.

[2017-05-22 06:02] ErlendLandro commented on #52
Okay, I now have a working demo of blending and database sharing in action:
![blendingattempt](https://cloud.githubusercontent.com/assets/19392292/26294476/5099f61a-3ec4-11e7-9fa7-03f90ad50003.gif)

The "remove" buttons and "remove duplicates" button are from another app. I'm not confident that it's the optimal solution, anyway, could you please take a look @warpech?

Keep in mind that there's err

[2017-05-24 12:57] warpech commented on #52
I will review that shortly.

Meanwhile: as suggested in https://github.com/StarcounterApps/MultiplePagesDemo/issues/2#issuecomment-303715275, I think that the blending tutorial should include navigation between views.

[2017-06-12 08:57] ErlendLandro commented on #52
I've made a new attempt with [PetHealthSystem](https://github.com/StarcounterApps/PetHealthSystem).

Please take a look. The steps are divided into specific commits. The plan is that the person taking the tutorial can start out with two applications that are not prepared for blending and then go through the step of setting up blending, a shared database, and then finally blend them.

[2017-06-12 09:44] alshakero commented on #43
Shouldn't we close this as too obselete?

[2017-06-12 10:06] ErlendLandro commented on #43
Yes, we only support 2015 and 2017 anyway.

Thank you for the reminder. Closing

[2017-06-12 10:06] #43 closed, assigned to nobody

[2017-06-13 16:14] atifwaqar commented on #45
Just the thing I was looking for :)
So when is Polymer 2.0 going to be supported in SC?

[2017-06-17 21:00] warpech commented on #45
We are looking to be ready in September 2017, with some proof of concept probably being available earlier.

There will be effort in migrating all of the apps (views and custom elements) from Polymer 1.x to 2.0.

[2017-06-20 20:27] warpech commented on #43
Also see: https://github.com/Starcounter/Guidelines/issues/29

[2017-06-21 05:37] ErlendLandro commented on #51
This is fixed with #52 and https://github.com/Starcounter/Docs/pull/93. Closing

[2017-06-21 05:37] #51 closed, assigned to Mackiovello

[2017-07-19 09:20] tomalec commented on #52
@Mackiovello can we remove it from Blending Task Force scope? Is there anything we as a Blending Team need to provide for that?

[2017-07-19 12:53] ErlendLandro commented on #52
Yes, it can be removed from the Blending Task Force scope

[2017-07-19 12:53] #52 closed, assigned to nobody

[2017-09-25 15:38] ErlendLandro commented on #50
For the same reason why Starcounter/Level1#3449 was closed, I'm closing this one

[2017-09-25 15:38] #50 closed, assigned to nobody

[2017-09-25 15:46] ErlendLandro commented on #39
Archiving

[2017-09-25 15:46] #39 closed, assigned to nobody

[2017-09-25 15:48] ErlendLandro commented on #45
@alshakero where are we on this? Can it be closed?

[2017-09-25 15:48] ErlendLandro commented on #46
@alshakero is this one done? Or is this a priority at all now?

[2017-09-26 08:04] atifwaqar commented on #45
@Mackiovello
I have a project that I can test. but to my understanding, SC 2.4 supports Polymer 2.0. And I can not test/use 2.4 cuz other SC apps (People, Signin, Useradmin) do not work on SC 2.4.

I can start testing 2.4 when you guys give me a green signal about SC 2.4 being ready to run People, Signin, Useradmin.

[2017-09-26 08:04] alshakero commented on #46
@Mackiovello not really, so much more important stuff to do :\

[2017-09-26 08:07] alshakero commented on #45
@Mackiovello I guess we can close this in favour of a fresh issue when the time comes to migrate HelloWorld.

[2017-09-26 11:23] ErlendLandro commented on #46
That's fine, just making sure. You're doing good work elsewhere!

[2017-09-26 17:17] ErlendLandro commented on #45
Thank you for both your answers. Yes, 2.4 will eventually support Polymer 2.0.

Yes, what I would suggest is that when 2.3.1 becomes the next release and 2.4 becomes the release candidate, we update this app to work with 2.4. Until then, we'll wait. I'll assign myself to deal with it.

[2017-10-08 20:45] ErlendLandro opened #56 "Update build.bat for Starcounter/Guidelines#51"

[2017-10-08 21:15] ErlendLandro commented on #56
Updated in branch tutorial-20171008 and set to default. Closing

[2017-10-08 21:15] #56 closed, assigned to Mackiovello

[2017-10-30 22:43] warpech commented on #50
Actually, I believe that this was only a problem when Hello World used database classes that extended `Simplified.Ring1.Something`.

Otherwise this error does not have a reason to occur here.

[2017-11-23 09:51] ErlendLandro opened #57 "Update to remove warnings"
[code]

[2017-11-23 12:52] ErlendLandro commented on #57
Fixed in branch tutorial-20171123

[2017-11-23 12:52] #57 closed, assigned to Mackiovello

[2018-03-28 09:33] ErlendLandro commented on #45
We've migrated to Polymer 2 as I understand it, so I don't think this issue is important anymore. Closing as won't fix

[2018-03-28 09:33] #45 closed, assigned to Mackiovello

[2018-03-31 21:02] warpech opened #58 "Upgrade code to Polymer 2.0 / Starcounter 2.4"
Code in this repo won't work with Starcoutner 2.4, because it still uses Polymer 1.0.

Code needs to be updated to use Polymer 2.0 and perhaps other API fixes for Starcoutner 2.4.

When this is done, also update code snippets in the docs (https://docs.starcounter.io/v/2.4/getting-started/hello-world-tutorial/create-a-real-time-ui).

@Mackiovello would it be possible for you to do that?

[2018-04-03 06:21] ErlendLandro commented on #58
Yes, that's intentional. The tutorial is only supposed to work with the current release candidate. The tutorial is for completely new users of Starcounter, so it doesn't make sense to adapt the tutorial for 2.4 since new users shouldn't use 2.4 anyway.

I know that we've discussed this before.

[2018-04-26 16:05] warpech commented on #58
Yes, this makes sense for the repo.

I made a separate issue for the 2.4 branch of the docs, which does not have to wait that long: https://github.com/Starcounter/Docs/issues/219